<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../client/styles/courses.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta charset="ISO-8859-1">
	<title>Capgemini University</title>
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Capgemini University</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
			   		<a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
			   	</li>
			   	<li class="nav-item">
			    	<a class="nav-link" href="degrees.html">Degrees</a>
			   	</li>
			   	<li class="nav-item active">
			    	<a class="nav-link" href="courses.html">Courses</a>
			   	</li>
			   	<li class="nav-item">
			     	<a class="nav-link" href="apply.html">Apply</a>
			   	</li>
			</ul>
	  	</div>
	</nav>
	<div class="container">
		<div class="list-group">
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">BUS 101: Introduction to Business</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 3</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">BUS 201: Principles of Management</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 4</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">BUS 202: Principles of Finance</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 4</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">BUS 203: Principles of Marketing</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 4</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">CS 114: Computer Science I</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 4</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">CS 214: Computer Science II</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 4</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">CS 219: Computer Science III</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 4</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">CS 308: Software Engineering</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 4</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">DS 101: Introduction to Data Science</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 3</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">DS 201: Probability</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 3</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">DS 202: Visualization</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 3</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">DS 301: Machine Learning</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 3</small>
	   		</a>
	   		<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">IT 101: Introduction to Information Technology</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 3</small>
	      	</a>
	      	<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">IT 210: Introduction to Databases</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 3</small>
	      	</a>
	      	<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">IT 301: Advanced Information Technology</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 3</small>
	      	</a>
	      	<a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
		      	<div class="d-flex w-100 justify-content-between">
			    	<h6 class="mb-1">IT 310: Advanced Database Systems</h6>
		     	</div>
				<p class="mb-1">Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</p>
		      	<small>Credits: 3</small>
	      	</a>
		</div>
	</div>	
</body>
</html>