<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../client/styles/degrees.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<meta charset="ISO-8859-1">
	<title>Capgemini University</title>
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Capgemini University</a>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
			   		<a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
			   	</li>
			   	<li class="nav-item active">
			    	<a class="nav-link" href="degrees.html">Degrees</a>
			   	</li>
			   	<li class="nav-item">
			    	<a class="nav-link" href="courses.html">Courses</a>
			   	</li>
			   	<li class="nav-item">
			     	<a class="nav-link" href="apply.html">Apply</a>
			   	</li>
			</ul>
	  	</div>
	</nav>
	<div class="container">
		<!-- 		<h1 align="center">Degrees</h1> -->
		<table class="table table-striped table-light">
			<thead>
				<tr>
					<th>Abbrev</th>
					<th>Name</th>
					<th>Description</th>
					<th>Credits</th>
				</tr>
			</thead>
			<tr>
				<td>BUS</td>
				<td>Business</td>
				<td>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</td>
				<td>100</td>
			</tr>
			<tr>
				<td>CS</td>
				<td>Computer Science</td>
				<td>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</td>
				<td>102</td>
			</tr>
			<tr>
				<td>DS</td>
				<td>Data Science</td>
				<td>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</td>
				<td>103</td>
			</tr>
			<tr>
				<td>IT</td>
				<td>Information Technology</td>
				<td>Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem ipsum. Lorem
					ipsum.</td>
				<td>104</td>
			</tr>
		</table>
	</div>
</body>
</html>